.nevidevs_projects {
  background: url("../../img/image 401.svg") no-repeat center / cover;
  min-height: 0px;
  position: relative;
  padding-top: 45px;
  padding-bottom: 80px;
}
.nevidevs_projects .project_name {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1.95px;
  text-transform: uppercase;
  background: linear-gradient(265deg, #b9b9b9 33.88%, #fff 62.61%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nevidevs_projects .project_block {
  margin: 0 auto;
  margin-top: 45px;
  width: 100%;
  min-height: 0;
  background: linear-gradient(204deg, #bc3138 -40.52%, #8d2131 98.35%);
  border-radius: 15px;
  padding: 45px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 45px;
}
.nevidevs_projects .project_box1 h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
.nevidevs_projects .project_box1 p {
  max-width: 300px;
  color: #d7d7d7;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
}
.nevidevs_projects .project_box1 img {
  margin-top: -15px;
  margin-bottom: 55px;
  width: 200px;
}
.nevidevs_projects .project_box1 {
  display: flex;
  flex-direction: column;
}
.nevidevs_projects .project_box1 button {
  max-width: 300px;
  height: 55px;
  border: 1px solid #fff;
  background: transparent;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: 0.2s ease;
}
.nevidevs_projects .project_box1 button:hover {
  transform: translate(1px, 1px);
  background: #8d2131;
  color: #ffffff82;
}
.nevidevs_projects .project_box2 img {
  width: 100%;
  border-radius: 15px;
}
.nevidevs_projects .slider_block {
  width: 100%;
}
.nevidevs_projects .block_all {
  width: 100%;
  display: flex;
  padding: 0 5px 0 5px;
}
.nevidevs_projects .slick-prev:before {
  position: absolute;
  color: #bc3138;
  font-size: 30px;
  top: -325px;
  left: 800px;
}
.nevidevs_projects .slick-next:before {
  position: absolute;
  color: #bc3138;
  font-size: 30px;
  top: -325px;
  right: 300px;
}

@media (max-width: 900px) {
  .nevidevs_projects .project_box1 button {
    display: none;
  }
}
@media (max-width: 600px) {
  .nevidevs_projects .project_box1 img {
    width: 300px;
  }
  .nevidevs_projects .project_box1 p {
    width: 300px;
  }
  .nevidevs_projects .project_block {
    padding: 31px;
    gap: 0;
  }
  .nevidevs_projects .project_name {
    font-size: 22px;
  }
}
@media (max-width: 525px) {
  .nevidevs_projects .project_box2 img {
    width: 300px;
  }
  .nevidevs_projects .project_box1 h1 {
    font-size: 30px;
  }
  .nevidevs_projects .project_box1 p {
    font-size: 22px;
  }
}
@media (max-width: 500px) {
  .nevidevs_projects .slick-prev:before {
    display: none;
  }
  .nevidevs_projects .slick-next:before {
    display: none;
  }
  .nevidevs_projects .slick-track {
    width: 100%;
  }
  .reviews .slick-prev:before {
    display: none;
  }
  .reviews .slick-next:before {
    display: none;
  }
}
@media (max-width: 470px) {
  .nevidevs_projects .project_box1 img {
    width: 250px;
  }
  .nevidevs_projects .project_box1 p {
    width: 250px;
    font-size: 14px;
  }
  .nevidevs_projects .project_box2 img {
    width: 250px;
  }
}

@media (max-width: 400px) {
  .nevidevs_projects .project_box2 img,
  .nevidevs_projects .project_box1 img,
  .nevidevs_projects .project_box1 p {
    width: 230px;
  }
  .nevidevs_projects .project_box1 h1 {
    font-size: 22px;
  }
  .nevidevs_projects .project_box1 p {
    font-size: 16px;
  }
}
@media (max-width: 370px) {
  .nevidevs_projects .project_box1 img,
  .nevidevs_projects .project_box2 img,
  .nevidevs_projects .project_box1 p {
    width: 200px;
  }
}

@media (max-width: 360px) {
  .nevidevs_projects .project_box1 img,
  .nevidevs_projects .project_box2 img,
  .nevidevs_projects .project_box1 p {
    width: 180px;
  }
  .nevidevs_projects .project_box1 p {
    font-size: 14px;
  }
}
