.partners {
  width: 100%;
  padding-top: 60px;
}
.partners .partners_title {
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1.95px;
  text-transform: uppercase;
  background: linear-gradient(265deg, #2f2f2f 28.89%, #636363 65.83%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.partners .partners_block {
  padding: 40px;
  margin-top: 60px;
  width: 100%;
  min-height: 0px;
  flex-shrink: 0;
  border-radius: 22px;
  border: 1px solid #949494;
}
.partners .block_all {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid #cdcdcd;
  display: flex;
  align-items: center;
}
.partners .block_all .block {
  width: 100%;
  height: 90px;
  font-size: 25px;
  color: #949494;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #cdcdcd;
  transition: 0.2s ease;
  cursor: pointer;
}
.partners .block_all .block:hover {
  color: #000;
}
.partners .block_all.none,
.partners .block_all .block:nth-child(1) {
  border: none;
}
.partners .tr_block {
  display: flex;
}
.partners .slider_block {
  display: none;
}
.partners .block_slider {
  padding-top: 20px;
  margin-top: 60px;
  width: 275px;
  height: 80px;
  border-radius: 10px;
  border: 1px solid #949494;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partners .block_icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.partners .block_slider:hover {
  color: #000;
  cursor: pointer;
}
.partners .scroll_bar {
  display: none;
}
@media (max-width: 800px) {
  .partners .block_all .block {
    font-size: 18px;
    height: 70px;
  }
}
@media (max-width: 700px) {
  .partners .partners_block {
    display: none;
  }
  .partners .slider_block {
    display: block;
    font-size: 25px;
    color: #949494;
    display: flex;
    overflow-y: hidden;
  }
  .partners .partners_title {
    font-size: 22px;
  }
  .partners .block_slider {
    margin-top: 20px;
  }
}
@media (max-width: 500px) {
  .partners .slider_block {
    display: none;
  }
  .partners .block_slider {
    font-size: 30px;
    padding: 15px;
  }
  .partners .scroll_bar {
    display: block;
    display: flex;
    overflow-y: hidden;
  }
  .partners .block_icons {
    font-size: 25px;
    display: flex;
  }
  .partners .scroll_bar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    border-radius: none;
    background-color: transparent;
  }
  .partners .scroll_bar::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }
  .partners .scroll_bar::-webkit-scrollbar-thumb {
    border-radius: none;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    background-color: transparent;
  }
}
@media (max-width: 400px) {
  .partners .block_slider {
    font-size: 25px;
    height: 70px;
    padding: 12x;
  }
}
