.modal {
  width: 100%;
  min-height: 1000px;
}
.modal .modal_block {
  width: 625px;
  min-height: 960px;
  flex-shrink: 0;
  border-radius: 22px;
  background: linear-gradient(202deg, #bc3138 -37.45%, #8d2131 100%);
}
