.home {
  background: url("../../../src/img/comp.bacground.svg") no-repeat center /
    cover;
  min-height: 100vh;
  position: relative;
}
/* .home .filter::before {
  content: "";
  width: 100%;
  top: 0px;
  min-height: 800px;
  position: absolute;
  border-radius: 987px;
  background: #131313;
  filter: blur(60px);
}
.home .filter .posi {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1300px;
} */
.home .title {
  width: 960px;
  padding-top: 115px;
  max-width: 1443px;
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 1.95px;
  text-transform: uppercase;
  background: linear-gradient(263deg, #b9b9b9 33.19%, #fff 96.63%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 auto;
}
.home .contact {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .lina {
  width: 1px;
  height: 60px;
  border: 1px solid #ba0e36;
  background: linear-gradient(180deg, #ba0e36 0%, rgba(186, 14, 54, 0) 100%);
  margin-left: 40px;
}
.home .contact p {
  width: 248px;
  color: #cfcfcfdc;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.54px;
  margin-left: 40px;
}
.home .contact p > span {
  color: #fff;
}
.home .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 80px;
  background: linear-gradient(205deg, #bc3138 15.91%, #8d2131 84.09%);
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  line-height: normal;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 5px 10px 5px rgb(103, 2, 2);
}
.home .btn:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}
.home .my_developer {
  width: 100%;
  border-radius: 20px;
  margin-top: 145px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  padding: 20px 0;
  position: relative;
}
.home .developer_rev {
  width: 100%;
  min-height: 25px;
  padding: 50px 50px;
  background: linear-gradient(83deg, #8d2131 0.59%, #bc3138 100%);
  border-radius: 15px;
}
.home .border_lina1 {
  width: 3px;
  height: 180px;
  background: #ffffff82;
  position: absolute;
  top: 46px;
  left: 432px;
  right: 0;
}
.home .border_lina2 {
  width: 2px;
  height: 180px;
  background: #ffffff82;
  position: absolute;
  top: 46px;
  left: 866px;
  right: 0;
}
.home .developer_rev:last-child {
  border: none;
}
.home .developer_rev h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 5.7px;
  background: linear-gradient(266deg, #a8a8a8 34.71%, #fff 60.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home .developer_rev p {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.6px;
  margin-top: 20px;
}


@media (max-width:1000px) {
  .home .title {
    width: 100%;    
  }
}