.directions {
  background: #0c0c0c;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 55px;
}
.directions h1 {
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  background: linear-gradient(265deg, #b9b9b9 33.88%, #fff 62.61%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.directions .text {
  margin: 0 auto;
  line-height: 1;
  width: 60%;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #c4c4c4;
}
.directions .directions_boxs {
  margin-top: 55px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
  gap: 55px;
}
.directions .box {
  width: 100%;
  min-height: 450px;
  padding: 55px 25px 55px 25px;
  border-radius: 15px;
  border-radius: 22px;
  background: linear-gradient(202deg, #bc3138 -37.45%, #8d2131 100%);
  position: relative;
}
.directions .box h3 {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.directions .box p {
  font-size: 16px;
  font-weight: 300;
  color: #cdcdcd;
}
.directions .box img {
  position: absolute;
  bottom: 0;
}
.directions .box .keydynamic {
  right: 0;
  bottom: 0;
}
.directions .box .key {
  left: auto;
  bottom: 0;
  left: 0;
}
.directions .search {
  bottom: 0;
  left: 0;
}
.directions .comp {
  bottom: 0;
  left: 0;
  width: 300px;
}
.directions .strela {
  bottom: 0;
  left: 0;
}
.directions .nout {
  width: 100%;
  bottom: 0;
  left: 10px;
}
.directions .slider_block {
  display: none;
  width: 100%;
  margin-top: 55px;
}
.directions .phone_res {
  left: 0;
  bottom: 0;
}
.directions .big {
  padding: 0 10px 0 10px;
}
@media (max-width: 700px) {
  .directions .slider_block {
    display: block;
  }
  .directions .directions_boxs {
    display: none;
  }
  .directions .comp {
    margin-left: auto;
  }
  .directions h1 {
    font-size: 30px;
  }
  .directions .text {
    font-size: 16px;
    font-weight: 500;
  }
  .directions .box h3 {
    font-size: 25px;
    font-weight: 600;
  }
  .directions .box p {
    font-size: 16px;
    margin-top: 30px;
  }
}
@media (max-width: 450px) {
  .directions .text {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .directions .box .keydynamic {
    display: none;
  }
  .directions .comp,
  .directions .phone_res,
  .directions .search,
  .directions .strela,
  .directions .nout {
    width: 270px;
  }
  .directions .directions_boxs {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
}
