.reviews {
  padding-top: 150px;
  width: 100%;
  min-height: 1200px;
}
.reviews .review_title {
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1.95px;
  text-transform: uppercase;
  background: linear-gradient(264deg, #202020 25.98%, #676767 62.43%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.reviews .reviews_block {
  margin-top: 100px;
  width: 100%;
  min-height: 648px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
.reviews .boys_img {
  position: absolute;
  top: -120px;
  left: 220px;
}
.reviews .reviews_box1 {
  background: blue;
  width: 100%;
  background: linear-gradient(222deg, #f0f0f0 6.93%, #d7d7d7 95.05%);
  border-radius: 22px;
  padding: 70px;
}
.reviews .reviews_box2 {
  background: red;
  width: 100%;
  background: linear-gradient(63deg, #8d2131 41.11%, #bc3138 100%);
  border-radius: 22px;
  padding: 90px;
  display: flex;
  justify-content: center;
}
.reviews .founder_title {
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #5b5b5b 35.04%, #202020 64.08%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 40px;
}
.reviews .red_block {
  display: flex;
  width: 100%;
  margin-top: -30px;
}
.reviews .red_box {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-right: 20px;
  background: linear-gradient(63deg, #8d2131 41.11%, #bc3138 100%);
}
.reviews .red_block p {
  color: #949494;
  font-size: 20px;
}
.reviews .planshet2 {
  position: absolute;
  top: 220px;
  left: -50px;
}
.reviews .text_right {
  width: 430px;
  height: 334px;
  flex-shrink: 0;
  border-radius: 18px;
  background: #fff;
  padding: 30px;
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.65px;
  color: #311818;
}
.reviews .pens {
  position: absolute;
  top: 205px;
  left: 0px;
  height: 250px;
}
.reviews .block_all {
  width: 100%;
}
.reviews .slider_block {
  width: 100%;
}
.reviews .slick-prev:before {
  position: absolute;
  top: -400px;
  left: 900px;
  color: #bc3138;
  font-size: 30px;
}
.reviews .slick-next:before {
  position: absolute;
  top: -400px;
  right: 375px;
  color: #bc3138;
  font-size: 30px;
}
